body {
	margin: 5%;
	background: #1A2980;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #26D0CE, #1A2980);
	background: linear-gradient(to right, #26D0CE, #1A2980);
}

.button {
	background: #26D0CE;
	border-radius: 40%;
	border: 2px solid #1A2980;
	height: 1.7em;
	color: #1A2980;
	font-weight: bold;
}

#jmbg {
	background: #fff;
	border: 2px solid #1A2980;
	height: 1.7em;
	width: 9em;
}

header, main, footer, form, p {
	margin: 0;
	padding: 2%;
}

h1 {
	text-indent: 7%;
	color: #1A2980;
}

p {
	font-style: italic;
}

footer {
	position: fixed;
	bottom: 0;
	font-weight: bold;
	color: #1A2980;
}

a {
	color: #1A2980;
}

a:hover {
	color: darkgreen;
}

a:visited {
	color: purple;
}