body {
	margin: 5%;
	background: #1A2980;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #26D0CE, #1A2980);
	background: linear-gradient(to right, #26D0CE, #1A2980);
}

.button {
	background: #26D0CE;
	border-radius: 30%;
	border: 2px solid black;
	height: 1.7em;
	font-weight: bold;
}

#jmbg {
	background: #fff;
	border: 2px solid black;
	height: 1.7em;
	width: 9em;
}

header, main, footer, form, p {
	margin: 0;
	padding: 1%;
}

h1 {
	text-indent: 7%;
}

p {
	font-style: italic;
}

footer {
	font-weight: bold;
	margin-top: 15%;
}

a {
	color: darkblue;
}

a:hover {
	color: darkgreen;
}

a:visited {
	color: purple;
}